.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0 2px 0;
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px 4px 12px;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.element {
    font-family: var(--font-open-sans);
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.element:hover {
    margin-bottom: -13px;
}

.element:hover::after {
    width: 100%;
    content: "";
    border-bottom: 3px solid #D53446;
}

.active {
    color: #D53446;
}

.menu {
    display: none;
    margin-left: 30px;
}

@media (max-width: 1024px) {
    .elements {
        display: none;
    }

    .element {
        padding: 10px 20px;
    }

    .element:hover::after {
        border-bottom: none;
    }

    .menu {
        display: flex;
    }

    .active {
        background-color: #D53446;
        color: #FFFFFF;
    }

    .getAQuoteButton {
        margin-left: auto;
        margin-right: 30px;
    }

    .disabledLink {
        pointer-events: none;
    }
}

@media (max-width: 767px) {
    .getAQuoteButton {
        flex: 1;
        margin-left: 40px;
    }
}