.row {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #ffffff;
}

.row:nth-child(odd) {
    padding: 70px 10px 70px 0;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #E5E5E5;
    padding: 70px 0 70px 10px;
}

.bottom {
    max-width: 1200px;
    width: 100%;
}

.accordion {
    background-color: #f6f6f6 !important;
}

@media (max-width: 767px) {
    .row, .row:nth-child(even) {
        flex-direction: column-reverse;
    }
}