.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff;
}

.row:nth-child(odd) {
    padding: 70px 10px 70px 0;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #E5E5E5;
    padding: 70px 0 70px 10px;
}

.column {
    max-width: 600px;
    min-height: 250px;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.image {
    object-fit: contain;
}

.title {
    color: #D53446;
    font-family: var(--font-popins);
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
}

.row:nth-child(even) .title {
    color: #21212D;
}

.description {
    text-align: left;
    color: #090909;
    font-family: var(--font-popins);
    font-weight: 400;
}

.bottom {
    max-width: 1200px;
    width: 100%;
}

.accordion {
    background-color: #f6f6f6 !important;
}

@media (max-width: 767px) {
    .row, .row:nth-child(even) {
        flex-direction: column;
    }

    .column {
        width: 100%;
        max-width: none;
    }

    .image {
        width: 100%;
        object-fit: cover;
    }

    .title {
        padding: 0 10px;
        font-size: 23px;
        text-align: center;
    }

    .description {
        padding: 0 10px;
        text-align: center;
        font-size: 17px;
        line-height: 1.3em;
    }
}