.container {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    color: #D53446;
    font-family: var(--font-popins);
    font-size: 16px;
    font-weight: 500;
}

.subtitle {
    color: #21212D;
    font-family: var(--font-popins);
    font-size: 42px;
    font-weight: 500;
    line-height: 1em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.reviews {
    margin: 8px 0 15px 0;
}

.raitingSummary, .raitingSummaryBold {
    font-size: 14px;
    font-family: var(--font-open-sans);
    color: #000000;
    line-height: 1.4em;
}

.raitingSummaryBold {
    font-weight: bold;
}