.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper:nth-child(even) {
    background-color: #F1F1F1;
}

.twoColsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.twoColsFlex {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.title {
    color: #D53446;
    font-family: var(--font-popins);
    font-size: 16px;
    font-weight: 500;
}

.subtitle, .faqSubtitle {
    color: #21212D;
    font-family: var(--font-popins);
    font-size: 42px;
    font-weight: 500;
    line-height: 1em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.main {
    height: 100vh;
    background-image: url("/home/slides/slide1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.mainContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContent {
    width: 75.32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mainText1, .mainText2, .mainText3 {
    color: #FFFFFF;
    font-family: var(--font-popins);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mainText2 {
    font-size: 55px;
    font-weight: 800;
    font-style: normal;
    line-height: 60px;
}

.mainText3 {
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
}

.mainButtons {
    display: flex;
    gap: 20px;
}

.aboutSlogan {
    color: #21212D;
    font-family: var(--font-popins);
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3em;
}

.aboutSloganBold {
    font-weight: 600;
}

.aboutDescription {
    color: #090909;
    font-family: var(--font-popins);
    font-size: 22px;
    font-weight: 200;
    line-height: 34px;
}

.aboutPhoto {
    position: relative;
    aspect-ratio: 8/10;
    width: 100%;
}

.faqSubtitle {
    font-size: 36px;
}

.faqPhoto {
    position: relative;
    height: 500px;
    width: 100%;
}

.recentWorks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
}

.video {
    aspect-ratio: 1.77777;
    width: 50%;
}

.reviews {
    margin: 8px 0 15px 0;
}

.raitingSummary, .raitingSummaryBold {
    font-size: 14px;
    font-family: var(--font-open-sans);
    color: #000000;
    line-height: 1.4em;
}

.raitingSummaryBold {
    font-weight: bold;
}