.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 80px 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.link {
    position: relative;
    aspect-ratio: 3/2;
    width: 100%;
}

.image {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}