.container {
    max-width: 768px;
    padding: 20px 20px 70px 20px;
    margin: auto;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.title {
    font-family: var(--font-popins);
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

.description {
    font-family: var(--font-popins);
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

@media (max-width: 767px) {
    .title {
        font-size: 30px;
    }

    .description {
        font-size: 18px;
    }
}