.container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0 10px;
}

.wrapper {
    display: flex;
    gap: 40px;
}

.title {
    color: #21212D;
    font-family: var(--font-popins);
    font-size: 42px;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
}

.photoWrapper {
    position: relative;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
}

.photo, .photoFitTop {
    object-fit: cover;
}

.photoPositionTop {
    object-position: top;
}

.name {
    color: #21212D;
    font-family: var(--font-popins);
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
}

.description {
    text-align: left;
    color: #090909;
    font-family: var(--font-popins);
    font-weight: 400;
    margin-top: 14px;
}

.texts {
    align-self: center;
}

@media (max-width: 1024px) {
    .title {
        font-size: 30px;
    }

    .wrapper {
        flex-direction: column-reverse;
    }
    .name {
        text-align: left;
    }

    .description {
        text-align: left;
    }

    .photoWrapper {
        margin: auto;
        width: 100%;
        padding-bottom: 50%;
    }
}

@media (max-width: 767px) {
    .name {
        font-size: 25px;
    }

    .description {
        font-size: 16px;
        line-height: 1.7em;
    }
}