.twoColsFlex {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.subtitle {
    color: #21212D;
    font-family: var(--font-popins);
    font-size: 42px;
    font-weight: 600;
    line-height: 1em;
    margin-top: -12px;
}

.contactUsForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactUsTextArea {
    resize: vertical;
    height: 120px;
    font-size: 18px !important;
}

.contactUsInput {
    font-size: 18px !important;
    min-height: 59px !important;
    padding: 7px 20px !important;
}

.contactUsButton {
    width: fit-content;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 40px !important;
    font-family: var(--font-popins) !important;
}

.contactUsRow {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contactUsTitle {
    color: #D53446;
    font-family: var(--font-popins);
    font-size: 20px;
    font-weight: 600;
}

.photo {
    position: relative;
    height: 500px;
    width: 100%;
}

@keyframes loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.spinner {
    animation: loading-spinner 1s linear infinite;
}

@media (max-width: 767px) {
    .twoColsFlex {
        flex-direction: column;
        gap: 20px;
    }

    .subtitle {
        font-size: 30px;
    }
}