.container {
    background-color: #f9fafa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    overflow: hidden;
    min-height: 230px;
}

.image {
    min-height: 230px;
    width: 100%;
    position: relative;
    transition: 1s ease-in-out;
}

.image:hover {
    scale: 1.1;
}

.image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .7s;
}

.image:hover:after {
    opacity: .5;
}

.fitCover {
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    height: 100%;
}

.title {
    font-family: var(--font-popins);
    font-size: 29px;
    font-weight: 500;
    color: #21212D;
    margin-bottom: 7px;
}

.description {
    font-family: var(--font-popins);
    color: #090909;
    margin-bottom: 15px;
}

.button {
    margin-top: auto;
}

@media (max-width: 767px) {
    .title {
        font-size: 21px;
        line-height: 1.1em;
    }
}

