.container {
    background-image: url("/services/cover.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    padding-top: 100vh;
}

.background {
    background-color: #ffffff;
}

.width {
    max-width: 1140px;
    margin: auto;
}