.accordion {
    background-color: #FFFFFF;
    padding: 15px 15px 15px 15px;
}

.accordionTitle, .accordionTitleActive {
    font-family: var(--font-popins);
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

.accordionTitleActive {
    color: #D53446;
}

.accordionDetails {
    display: none;
}

.accordionDetailsActive {
    display: block;
    color: #090909;
    font-family: var(--font-popins);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}