.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.title {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.dropdownContent {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    min-width: 220px;
    z-index: 1;
    margin-top: 10px;
}

.dropdownItem {
    font-family: var(--font-open-sans);
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding: 13px 30px;
    text-decoration: none;
    display: block;
    transition: .3s;
    white-space: nowrap;
}

.dropdownContent .dropdownItem:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.dropdown:hover .dropdownContent {
    display: block;
}

@media (max-width: 1024px) {
    .dropdownContent {
        /* display: block; */
        position: initial;
    }

    .dropdownActive {
        display: block;
    }
}