.container {
    max-width: 1180px;
    margin: auto;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-popins);
    color: #171818;
}